*~
Makefile.in
config.h.in
config.h.in~
configure
depcomp
build*
autoscan.log
depcomp
install-sh
INSTALL
missing
py-compile
aclocal.m4
autom4te.cache
depcomp
compile
mdate-sh
texinfo.tex
*.info
stamp-vti
version.texi
tags
*_cmdline.*
cmdline.c
cmdline.h
.DS_Store
test
*.swp
.version
.tarball-version
ltmain.sh
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt\~obsolete.m4
m4/libtool.m4
config.guess
config.sub
astigm
fiji-plugin/target
*.pyc
Makefile
CMakeFiles
CMakeCache.txt

fiji-plugin/src/main/java/Brecs.java
fiji-plugin/src/main/java/BrecsJNI.java
fiji-plugin/src/main/java/fimg_t.java
fiji-plugin/src/main/java/imagessimp_t.java
fiji-plugin/src/main/java/paramssimp_t.java
fiji-plugin/src/main/java/rgbimg_t.java
fiji-plugin/src/main/java/sizeimg_t.java
fiji-plugin/src/main/java/uint16img_t.java
fiji-plugin/src/main/resources/libB_recs.jnilib

src/Brecs_wrap.c
src/brecs-reconsparse
src/libbrecs-static.a
src/platform/osx/libplatform.a
src/javainterf_wrap.c

src/version.c

*.dylib
*.a

doc/html
doc/.doctrees

CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
